body.white{
    background-color: #fff;
    color: #555;
}

body.dark{
    background-color: #555;
    color: #ffffff;
}

button{
    margin-bottom: 20px;
}

.day{
    font-size: 1.5rem;
    font-weight: bold;
}